@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: vazir;
  src: local(vazir) url(/me/Fonts/vazir.eot) format(embedded-opentype),
    url(/me/Fonts/vazir.ttf) format(truetype), url(/me/Fonts/vazir.woff) format(woff),
    url(/me/Fonts/vazir.woff2) format(woff2);
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5;
    --foreground: #ededed;
  }
}

/* Scroll Bar Custom */

body {
  color: var(--foreground);
  background: #f5f5f5;
  font-family: vazir, sans-serif;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
}
